<%# <%= render partial: "shared/nav" %> 

<%# <body>
  <div class="row">
    <p class='col-12'><%= @bulk_discount.id %></p>
  </div> 

  <p><%= "Bulk Discount ##{@bulk_discount.id}"%> - Percentage Discount: <%= @bulk_discount.percentage_format %>%, Quantity Threshold: <%= @bulk_discount.quantity_threshold %></p>

  <%# <strong><%= link_to "Update Item", edit_merchant_item_path(@merchant, @item) %></strong> 

</body>